extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  header.header
    .header-inner
      .header__logo
        a(href="#") MODUSversus
      nav
        ul.header__menu-list
          li HOME
            ul.dropdown-list
              li Home page 1
              li Home page 2
          li ABOUT
            ul.dropdown-list
              li About page 1
              li About page 2
          li SERVICES
            ul.dropdown-list
              li Service page 1
              li Service page 2
          li BLOG
            ul.dropdown-list
              li Blog page 1
              li Blog page 2
          li FEATURES
            ul.dropdown-list
              li Feature page 1
              li Feature page 2
          li CONTACTS
            ul.dropdown-list
              li Contact page 1
              li Contact page 2
          li ABOUT
            ul.dropdown-list
              li About page 1
              li About page 2

  section.carousel
    .carousel__image
      ul.carousel__image-list
        li
          .carousel__box
            h2.carousel__box__hl VESTIBULUM
            p.carousel__box__caption 
              | Mssseuf therun auseriu cenrotnei
              br
              | liber lefeer matton onerurn comoundo
        li
          .carousel__box
            h2.carousel__box__hl VESTIBULUM
            p.carousel__box__caption 
              | Mssseuf therun auseriu cenrotnei
              br
              | liber lefeer matton onerurn comoundo
        li
          .carousel__box
            h2.carousel__box__hl VESTIBULUM
            p.carousel__box__caption 
              | Mssseuf therun auseriu cenrotnei
              br
              | liber lefeer matton onerurn comoundo

  .service
    .service-inner
      .service__more
        h3 Some of our top services
        p use jisdfij ijsidjfoane naosdnfoaisej naisndfi nwiniren ndn i
        a VIEW MORE
      ul.service-list
        li
          .service-box
            .service-box__icon
            h4.service-box__hl SUSPENDISSE
            p
              | Wuisque id rellus u quis risus vehicurl
              br
              | vehigcu ut utisdd in eror snud pasucndfij
              br
              | vitas at, viehuf ui usdf
            a(href="#") read more
        li
          .service-box
            .service-box__icon
            h4.service-box__hl MAECENAS
            p
              | Wuisque id rellus u quis risus vehicurl
              br
              | vehigcu ut utisdd in eror snud pasucndfij
              br
              | vitas at, viehuf ui usdf
            a(href="#") read more
        li
          .service-box
            .service-box__icon
            h4.service-box__hl ALIQUAM
            p
              | Wuisque id rellus u quis risus vehicurl
              br
              | vehigcu ut utisdd in eror snud pasucndfij
              br
              | vitas at, viehuf ui usdf
            a(href="#") read more
        li
          .service-box
            .service-box__icon
            h4.service-box__hl HABITASSE
            p
              | Wuisque id rellus u quis risus vehicurl
              br
              | vehigcu ut utisdd in eror snud pasucndfij
              br
              | vitas at, viehuf ui usdf
            a(href="#") read more

  section.why
    .why-inner
      h2.why__h2 WHY MODUS VERSUS?
      p Capacitance cascading integer reflective interface data development high bus cache dithering transponder.
      .why__image
        ul.why__image__list
          li
            .why-dummy-image
          li
            .why-dummy-image
          li
            .why-dummy-image
      .why__info
        .why__info__why-choose-us
          h3.why__h3 Why Choose Us ?
          ul.why-choose-us__list
            li QQQuisque at masse ipush
            li Masdfi n fdjij jisdf jisdfij
            li Sdf jsidf jifjsd as jisdjf naeifn
            li Elfien audfne difan pelsierun
            li Nulla ac masasa to doeri
            li Condeifann elinfine virta vitan
        .why__info__meter
          p Currabui quis nifn in ivu erunfds vinern uenin dfisdf n finf ninasidfn isnf isdnf izhnf idh asdifhasd
        .why__info__what-clients-say
      .why__clients
        h3.why_h3 Our Happy Clients
        .why__clients__line
        ul.why__client-list
          li
            .client-box
          li
            .client-box
          li
            .client-box
          li
            .client-box
          li
            .client-box
          li
            .client-box

  footer.footer
    .footer-inner
      .footer__logo
        h1 MODUSversus
      .footer__description
        | Lorem ipsum dolor sit amet, conservn addimsnf elint Nam
        br
        | viverra euisemod odio, gravido pellentsque uma varius vitae.
        br
        | Sed dui lorem, adipiscing in adipiscing et, interdum nec.
      .footer__info__wrapper
        .footer__info#phone
          p.footer__info__name phone:
          p.footer__info__body 182 2569 5896
        .footer__info#email
          p.footer__info__name email:
          p.footer__info__body info@modu.versus
      .footer__munu__wrapper
        .footer__menu
          p.footer__menu__title Company
          ul.footer__menu__list
            li About
            li FAQ
            li Contact
            li Terms
            li Privacy
            li Testimonials
        .footer__menu
          p.footer__menu__title Community
          ul.footer__menu__list
            li Blog
            li Forum
            li Support
            li Newsletter
      .footer__blog__wrapper
        p.footer__blog__title from the BLOG
        .footer__blog
          img.footer__blog__image(src="#")
          p.footer__blog__p
            | Lorem ipsum doka sit amet, conesertu
            br
            | adipisicng elit
          p.footer__blog__date 26 May, 2013
        .footer__blog
          img.footer__blog__image(src="#")
          p.footer__blog__p
            | Lorem ipsum doka sit amet, conesertu
            br
            | adipisicng elit
          p.footer__blog__date 26 May, 2013
    .footer__bottom
      .footer__bottom-inner
        p.footer__bottom__copyright 2013 ModusVersus
        ul.footer__bottom__social-list
          li#facebook
          li#google-plus
          li#twitter
          li#rss
